* text=auto
*.sh text eol=lf
*.py text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.zip binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
